a {
  text-decoration: none ;
  font-size: 1.4rem;
  @media (min-width: 80rem) {
    font-size: 1.8rem;
  }
}

body {
  margin: 0;
  color: $black;
}

html {
  font-size: 10px;
  font-family: $main-typo;
  color: $black;
  margin: 0;
}

h1 {
  font-family: $title-bold;
  font-size: $typo-l;
  @media (min-width: 60rem) {
    font-size: $typo-xxl;
  }
}

h2 {
  font-family: $title-bold;
  font-size: $typo-l;
  @media (min-width: 80rem) {
    font-size: $typo-xl;
  }
}

h3 {
  font-family: $title-bold;
  font-size: $typo-m;
  @media (min-width: 80rem) {
    font-size: $typo-l;
  }
}

h1, h2 {
  text-transform: uppercase;
}

p {
  font-size: $typo-s;
  line-height: 1.7;
  text-align: justify;
  @media (min-width: 80rem) {
    font-size: $typo-m;
  }
}

li{
  list-style: none;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  @media (min-width: 120rem) {
    width: 130rem;
  } 
}

.between-sections {
  background-color: $pink;
  border-radius: 0 1rem 1rem 0 ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 10rem;
  margin-top: 10%;
  width: 60%;
  @media (min-width: 60rem) {
    height: 25rem;
    margin-top: 10%;
    width: 40%;
  }
}

.sections-right {
  background-color: $orange;
}

.clear{
  clear: both;
}

.b-blue {
  background-color:$dark-blue;
}

.b-blue--l {
  background-color: $light-blue;
}

.b-pink {
  background-color: $pink;
}

.bold-font {
  font-weight: bold;
}
