.title{
        background-color:$orange;
        width: 19.688rem;
        width: 100%;
        img{
            padding: 3rem 0 3rem 0;
            width: 50%;
            display: block;
            margin: auto;
    }

}
.navlist{
    display: none;
}
.video{
    background-color: $dark-blue;
    padding: 2.5rem 0 2.5rem 0;
    iframe{
        width: 80%;
        display: block;
        margin: auto;
    }
    @media(min-width: 43.125rem){
       iframe{
        height:250px;
       }
    }
}

@media(min-width: 73.125rem){
  .video, .title{
   width: 50%;
   float: left;
   height:400px;
  } 
  .clear{
    clear: both;
  }
  .sidebar{
      display: none;
  }
  iframe{
      position: relative;
      top: 40px;
      left: -80px;
  }
  .navlist{
      display: block;
  }
}

.navlist{
    position: absolute;
    top: 10px;
    left: 700px;
    margin:10px 0 0 0;
}
.navlist li{
    display: inline-block;
    padding:0 0 0 1.5rem;
    a{
        font-size:$typo-s;
        font-weight:bold;
        color:$white;
        font-family: $title-bold;
    }
    a:hover{
        color:$orange;
    }
}
.info{
    p{
        margin:0 0 2.5rem 0;
    }
     img{
        padding:  1rem 0 1rem 0;
        width: 80%;
        display: block;
        margin: auto;
    }
    h2, p{
      text-align: left;
      padding: 0 1.563rem 0 1.563rem;
    }
    @media(min-width: 43.125rem){
           h2,p{
            margin:35px 0 2.5rem 50px;
           }
        }

}
@media(min-width: 73.125rem){
    .info img{
     width: 20%;
     float: left;
     padding:1rem 1rem 1rem 12rem;
    }
    .info-course_text{
        position: relative;
        top: 40px;
        left: 700px;
        width: 40%;
        bottom: 50px;
    }
    .info-taller_text{
        width: 40%;
    }
}
.form{
    background-color:$pink;
    padding: 0 0 1rem 0;
    input{
        border: 0;
        display: block;
        margin: auto;
        height:3rem;
        width: 85%;
        border-radius: 1rem;
        text-indent: 2rem;
    }
    button{
        display: block;
        margin: 1.563rem  auto 0 auto;
        background-color: $dark-blue;
        color: white;
        padding:0.625rem 0.625rem 0.625rem 0.625rem;
        border-radius: 0.8rem;
        border: 0;
        cursor: pointer;
        
    }
    p{
        color:white;
        margin:0 0 2.5rem 0;  
        text-align: left;
        padding: 1.5rem 1.563rem 0 1.563rem;
    }
    @media(min-width: 43.125rem){
        h2,p{
         margin:35px 0 2.5rem 50px;
        }
        input{
            width: 80%;
        }
        button{
            padding:0.825rem 0.825rem 0.825rem 0.825rem;
        }
     }
}

.sidebar {
    position: fixed;
    width: 315px;
    height: 100%;
    right: -315px;
    background-color: rgba(36, 32, 32, 0.90);
    transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
    top: 0;
    button{
        position: absolute;
        left: -70px;
        top: 10px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        border: none;
    }
  }

  .sidebar.active {
    right: 0px;
    top: 0px;
    button{
        position: absolute;
        top: 10px;
        left: 240px;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        border: none;
    }
  }

  .sidebar__links {
      margin: 60px  0px 10px  20px;
      a{
        display: flex;
        padding: 20px;
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 28px;
        font-weight:500;
      }
}
//Media Query
