@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: 'NationalBold';
  src: local("NationalBold"), url(/typographies/NationalBold.otf) format("NationalBold"); }

@font-face {
  font-family: 'NationalRegular';
  src: local("NationalRegular"), url(/typographies/NationalRegular.otf) format("NationalRegular"); }

html {
  margin: 0;
  font-size: 10px;
  font-family: "Roboto", sans-serif; }

body {
  background: #FFFF;
  margin: 0; }

a {
  text-decoration: none; }

h1 {
  font-family: "NationalBold", sans-serif; }

.footer {
  background-color: #0100A3;
  display: flex;
  justify-content: space-around;
  padding: 6rem 0; }
  .footer p {
    margin: 0;
    color: #FFFF; }
  .footer a {
    background-color: #3974FE;
    color: #FFFF;
    border-radius: 100%;
    padding: 0.1rem 0.5rem; }
