@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: 'NationalBold';
  src: local("NationalBold"), url(/typographies/NationalBold.otf) format("NationalBold"); }

@font-face {
  font-family: 'NationalRegular';
  src: local("NationalRegular"), url(/typographies/NationalRegular.otf) format("NationalRegular"); }

a {
  text-decoration: none; }

body {
  margin: 0; }

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin: 0; }

h1 {
  font-family: "NationalBold", sans-serif;
  font-size: 4rem; }
  @media (min-width: 60rem) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-family: "NationalBold", sans-serif;
  font-size: 2.5rem; }
  @media (min-width: 60rem) {
    h2 {
      font-size: 4.5rem; } }

p {
  color: #0a0909;
  font-size: 1.6rem;
  line-height: 2.5rem; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 85%; }

.description {
  align-items: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 60rem) {
    .description {
      flex-direction: row; } }

.description__pink-background {
  background-color: #FE95B3;
  width: 25rem;
  padding-top: 95%; }
  @media (min-width: 60rem) {
    .description__pink-background {
      padding-top: 50%;
      width: 50%; } }

.description__image {
  position: relative; }
  .description__image img {
    position: absolute;
    right: -1rem;
    top: 2rem;
    width: 90%; }
  @media (min-width: 60rem) {
    .description__image {
      width: 50%; }
      .description__image img {
        width: 50%; } }

.description__paragraphs {
  padding-top: 20%;
  text-align: justify; }
  @media (min-width: 60rem) {
    .description__paragraphs {
      padding-top: 0;
      width: 50%; } }

.video-container {
  background-color: #FE95B3;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  width: 100%; }

.video-container--elements {
  width: 80%; }
  .video-container--elements h2 {
    margin-right: 3rem; }
    @media (min-width: 60rem) {
      .video-container--elements h2 {
        font-size: 4rem; } }
  .video-container--elements a {
    color: #381DDB;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 15rem; }
    @media (min-width: 60rem) {
      .video-container--elements a {
        font-size: 2.5rem;
        padding-left: 50rem; } }
  .video-container--elements img {
    width: 1.3rem; }
  @media (min-width: 60rem) {
    .video-container--elements {
      padding: 2rem;
      width: 50%; } }

.blue-decoration {
  background-color: #0100A3;
  padding: 3rem;
  margin-top: 3rem;
  width: 15rem; }
  @media (min-width: 60rem) {
    .blue-decoration {
      margin-top: 7rem;
      padding: 7.5rem;
      width: 50rem; } }
