.footer {
  background-color: blue;
  display: flex;
  flex-direction: column-reverse; }
  .footer p {
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center; }
  @media (min-width: 40rem) {
    .footer img {
      width: 70%;
      margin: 0 auto; } }
  @media (min-width: 60rem) {
    .footer {
      flex-direction: row;
      justify-content: space-around;
      padding: 2rem 0; }
      .footer p {
        text-align: left;
        margin-top: 6rem;
        margin-left: 20rem; }
      .footer img {
        width: 30%; } }

.footer__anchor {
  margin-top: 3.5rem;
  text-align: right;
  position: fixed;
  bottom: 3rem;
  right: 3rem; }
  .footer__anchor a {
    background-color: red;
    border-radius: 100%;
    color: wheat;
    padding: 0.5rem 1rem; }
