.description{
    align-items: center;
    display:flex;
    flex-direction: column;
    @media (min-width: 60rem){
        flex-direction: row;
        }
}

.description__pink-background{
    background-color: $pink;
    width: 25rem;
    padding-top: 95%;
    @media (min-width: 60rem){
        padding-top: 50%;
        width: 50%;
    }
}
.description__image{
    position: relative;
    img{
        position: absolute;
        right: -1rem;
        top: 2rem;
        width: 90%;
    }
    @media (min-width: 60rem){
        width: 50%;
        img{
            width:50%;
        }
    }
}
.description__paragraphs{
    padding-top: 20%;
    text-align: justify;
    @media (min-width: 60rem){
        padding-top: 0;
        width: 50%;
    }
}

.video-container{
    background-color: $pink;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    width: 100%;
}

.video-container--elements{
    width: 80%;
    h2{
        margin-right: 3rem;
        @media (min-width: 60rem){
            font-size: $typo-l;
        }
    }
    a{
        color: $purple;
        font-size: $typo-s;
        font-weight: bold;
        padding-left: 15rem;
        @media (min-width: 60rem){
            font-size: $typo-m;
            padding-left: 50rem;
        }
    }
    img{
        width: 1.3rem;
    }
    @media (min-width: 60rem){
        padding: 2rem;
        width: 50%;
    }
}


.blue-decoration{
    background-color: $dark-blue;
    padding: 3rem;
    margin-top: 3rem;
    width: 15rem;
    @media (min-width: 60rem){
        margin-top: 7rem;
        padding: 7.5rem;
        width: 50rem;
    }}