.hazte-amigo__options {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    @media (min-width: 60rem) {
        flex-direction: row;
        justify-content: space-between;
      }
}

.hazte-amigo__options--img {
    position: relative;

    div {
        background-color: $orange;
        width: 25rem;
        padding-top: 100%;
        @media (min-width: 60rem) {
            margin-right: 10rem;
            width: 50%;
          }
        }
    img {
        position: absolute;
        right: 4rem;
        top: 2rem;
        width: 90%;
        @media (min-width: 60rem) {
            top: 4rem;
            width: 80%;
          }
    }
    @media (min-width: 60rem) {
        width: 50%;
      }
}

.hazte-amigo__options--items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30%;
    @media (min-width: 60rem) {
        padding-top: 0;
        width: 50%;
      }
}