.title_principal{
  background-color:$dark-blue;
  width: 100%;
  img{
      padding: 6rem 0 3rem 0;
      width: 50%;
      display: block;
      margin: auto;
 @media(min-width: 60rem){
      width: 70%;
    }

}
}

.navlist{
display: none;
}
.video__box{
position: relative;
right: -5%;
height: 90%;
width: 90%;
@media(min-width: 60rem){
    right: 10%;
    top: 10rem;
    height: 90%;
    width: 90%;
}
@media(min-width: 40rem){
  video{
      top: 20rem;
      height: 100%;
      width: 100%;
  }
}
}
.video_principal{
background-color: $pink;
padding: 2.5rem 0 2.5rem 0;
@media(min-width: 40rem){
     padding-bottom: 5rem;
    }
}
@media(min-width: 60rem){
.video_principal, .title_principal{
width: 50%;
float: left;
} 

.video_principal{
padding-bottom: 45%;
}
.title_principal{
padding-bottom: 40%;
img{
  padding: 15rem 0 3rem 0;
}
}
.sidebar{
display: none;
}

.navlist{
display: block;
}
.navlist_container{
position: sticky;
top: 0;
z-index: 99;
}
.navlist {
  float: right;
  background-color: $pink;
  border-radius: 0.150rem;
  width: 50%;
  display: flex;  
  align-items: center;
  height: 5rem;

    li{ 
      margin-left: 2%;
      list-style: none;
    }
    a{
        text-transform: uppercase;
        font-size:1.450rem;
        position: relative;
        color:$white;
        font-family: $main-typo;
    }
    a:after{
      content: "";
      position: absolute;
      background-color: $orange;
      height: 0.2rem;
      width: 0;
      left: 0;
      bottom: -7px;
      transition: 0.5s;
    }
    a:hover:after{
        width: 100%;
    }
    a:visited{
      width: 100%;
    }
  }
} 