.pedagogies {
    margin: 0 auto;
    text-align: center;

    h1 {
        margin-top: 7.5rem;
    }

    p {
        margin-bottom: 4rem;
        margin-top: 3rem;
    }
}

.pedagogies_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.pedagogies_cards_information {
    align-items: center;
    border-radius: 0 15px 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 70%;

    img {
        width: 80%;
        padding-top: 2rem;
    }

    h2 {
        padding-bottom: 4rem;
    }

    @media (min-width: 40rem) {
        width: 40%;
    }

    @media (min-width: 60rem) {
        width: 20%;
    }
}
.pedagogies__cards--blue {
    background-color: $light-blue;

    p, input, h2{
        color: $white;
    }
}

.pedagogies__cards--white {
    background-color: $white;

    p, input, h2 {
        color: $dark-blue;
    }
    
}

.pedagogies_cards--arrow {
    -webkit-appearance: none;
    bottom: 2rem;
    font-size: $typo-m;
    position: absolute;
    right: 2rem;
}

.pedagogies_cards--arrow:before {
    content: "↓";
}

.pedagogies_cards--arrow:checked:before {
    content: "↑";
}
.js-content {
    display: none;

}