.slider{
    width: 117rem;
}
.slider__info{
    background-color: $dark-blue;
    color: $white;
    margin:0;
    padding: 3rem;
    
    width: 65rem;
    @media (max-width: 31.5rem){
        margin-top: 3rem;
        margin-left: 6rem;
        position: relative;
        width: 20rem;
    }
    h2{
        font-family: $title-bold;
        font-size: $typo-l;
        margin:0;
        @media (max-width: 31.5rem){
            font-size: $typo-m;
            padding-top: 1rem;
            padding-left: 1.5rem;
            margin: 0;
        }
    }
    p{
        font-family: $main-typo;
        font-size: $typo-m;
        @media (max-width: 31.5rem){
            font-size: $typo-s;
            text-align: center;
            padding-bottom: 2rem;
            padding: 1.5rem;
            margin: 0;
        }
    }
}
.slider__dots{
    @media (max-width: 31.5rem){
        margin-left: 13rem;
        position: absolute;
    }
    
}
.dots {
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
    margin: 0 0.3rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
    @media (max-width: 31.5rem){
        height: 1rem;
        width: 1rem;
    }
}
.dots:hover {
    background-color: #3974FE;
}