.footer {
    background-color: $dark-blue;
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 0;

    img {
        margin: 0 auto;
        width: 80%;

        @media (min-width: 40rem) {
            img {
                width: 50%;
            }
        }
    }

    p{
        color: $white;       
        margin-top: 2rem; 
        text-align:  center;
    }

    @media (min-width: 60rem) {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 0;

        p {
            text-align: left;
            margin-top: 6rem;
            margin-left: 5%;
        }

        img {
            width: 30%;
        }
    }
}
.footer__anchor {
    margin-top: 3.5rem;
    position: fixed;
    bottom: 12rem;
    right: -5rem;
    
    img {
        width: 40%;
    }

    @media (min-width: 40rem) {
        bottom: 3rem;
        right: 0.5rem;
    }
}