.footer {
    background-color: $dark-blue;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5000px;

    p{
        color: $white;
        margin-bottom: 3rem;       
        margin-top: 2rem; 
        text-align:  center;
    }

    @media (min-width: 40rem) {
        img {
            width: 60%;
            margin: 0 auto;
        }
    }

    @media (min-width: 60rem) {
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem 0;

        p {
            text-align: left;
            margin-top: 6rem;
            margin-left: 20rem;
        }

        img {
            width: 20%;
        }
    }
}
.footer__anchor {
    margin-top: 3.5rem;
    text-align: right;
    position: fixed;
    bottom: 3rem;
    right: 3rem;

    a{
        background-color: $light-blue;
        border-radius: 100%;
        color: $white;
        font-size: $typo-s;
        padding: 0.5rem 1rem;
    }
}