.pedagogies--color-blue {
    background-color: $dark-blue;
    height: 7.4rem;
    margin-top: 9rem;
    width: 25rem;

    @media (min-width: 40rem) {
        height: 15rem;
        width: 40rem;
    }

    @media (min-width: 60rem) {
        height: 20rem;
        width: 70rem;
    }
}

.pedagogies {
    h1 {
        margin-top: 7.5rem;
        text-align: center;
    }

    p {
        margin-bottom: 4rem;
        margin-top: 3rem;
        margin: 0 auto;
        text-align: justify;
        width: 80%;
    }
}

.pedagogies__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.pedagogies__cards__information {
    border-radius: 0 1.5rem 0 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    gap: 10rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 3rem 0  0 3rem;
    position: relative;
    width: 70%;

    p {
        margin: 0;
        margin-bottom: 10rem;
    }

    @media (min-width: 40rem) {
        width: 40%;
    }

    @media (min-width: 60rem) {
        width: 20%;
    }
}

.cards__arrow{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.pedagogies__cards--white {
    background-color: $white;
    h2 {
        color: $dark-blue;
    }

    p {
        color: $dark-blue;
    }
}

.pedagogies__cards--blue {
    background-color: $light-blue;

    h2 {
        color: $white;
    }

    p {
        color: $white;
    }
}