.info-taller{
    margin-top: 10%;
    text-align: center;
}

.info-taller__items{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media(min-width: 60rem){
        img {
            width: 50%;
        }
        flex-direction: row;
    }
}