.course {
    h1, p {
        color: $white;
    }
    width: 100%;
}

.course__thought {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    img {
        width: 80%;
    }
    padding-top: 10%;
    
    @media (min-width: 50rem) {
        img {
            width: 40%;
        }
        div {
            width: 50%;
        }
        flex-direction: row;
        gap: 4rem;
    }     
}