.description{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 10%;
    justify-content: space-between;
    padding-top: 10%;

    @media (min-width: 40rem){
        flex-direction: row;
        padding-top: 0;
        width: 70%;
    }
}

.description__pink-background{
    background-color: $pink;
    width: 20rem;
    padding-top: 100%;
}

.description__image{
    position: relative;
    img{
        position: absolute;
        right: -1rem;
        top: 2rem;
        width: 100%;
    }
}
.description__paragraphs{
    padding-top: 6rem;
    text-align: justify;

    @media (min-width: 40rem){
        width: 70%;
    }
}

.video-container{
    background-color: $pink;
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.video-container--elements{
    padding: 4rem;
    h2{
        margin-bottom: 4rem;
    }
    a{
        color: $dark-blue;
        font-weight: bold;
        margin-left: 80%;
    }

    @media (min-width: 40rem){
        margin-left: 50%;
    }
}
