.description{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    p {
        color: $white;
    }
    @media (min-width: 50rem){
       flex-direction: row;
    }
}

.description__image {
    margin-top: 10%;
    width: 70%;
    @media (min-width: 50rem){
        margin-top: 0;
        width: 50%;
        img {
            width: 70%;
        }
    }
}

.description__paragraphs{
    padding-top: 5%;
    @media (min-width: 50rem){
        width: 50%;
    }
}

.link{
    color: $white;
    margin-top: 5%;
}

.link-container{
    margin: 0 auto;
    padding: 1rem;
    
    @media (min-width: 40rem){
        padding: 1.5rem;
    }
}

.link-container__items {

    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: end;

    h2{
        margin-bottom: 2rem;
    }
    
    a{
        background-color: $dark-blue;
        border-radius: 2rem 1rem 2rem 1rem;
        color: $white;
        font-weight: bold;
        padding: 1rem;
    }
    
    @media (min-width: 50rem){
        align-items: center;
        flex-direction: row;
        gap: 3rem;
        h2 {
            width: 50%;
        }
        
    }
    }

.to-do {
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    gap: 3rem;
    @media (min-width: 50rem){
        justify-content: space-between;
        flex-direction: row;
    }
}

.to-do__content {
    background-color: $white;
    margin-bottom: 6rem;

    p{
        color: $dark-blue;
    }
    
    @media (min-width: 50rem){
        width: 50%;
    }
}

.to-do__content--items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    img {
        width: 30%;
    }
    @media (min-width: 50rem){
        padding: 4rem 4rem 0rem 1rem;
        flex-direction: row;
    }
}

.to-do__title {
    text-align: center;
    width: 80%;
    h1 {
        color: $white;
    }
    img {
        width: 50%;
    }

    @media (min-width:50rem){
        width: 40%;
    }
}