.button-mailchimp {
    margin-top: 1.5rem;
    @media (min-width: 60rem) {
        display: inline-block;
        margin-top: 0;
     }
}

.newsletter {
    display: flex;
    flex-direction: column;
    background-color: $light-blue;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    margin-top: 5%;
    @media (min-width: 40rem) {
        justify-content: space-around;
        flex-direction: row;
        width: 75%;
        border-radius: 1rem;
    }
}

.newsletter__mailchimp {
    width: 70%;

    @media (min-width: 40rem) {
       width: 60%;
    }
}

.newsletter__title {
    h3 {
        color: $white;
        font-family:$main-typo;
        font-size: $typo-m;
    }

    @media (min-width: 40rem) {
        width: 40%;
     }
}