.newsletter{
    background-color:$pink;
    border-radius: 1rem;
    padding: 0 0 2rem 0;
    input{
        border: 0;
        display: block;
        margin: auto;
        height:3rem;
        width: 85%;
        border-radius: 1rem;
        text-indent: 2rem;
    }
    button{
        display: block;
        margin: 1.563rem  auto 0 auto;
        background-color: $dark-blue;
        color: white;
        padding:0.625rem 0.625rem 0.625rem 0.625rem;
        border-radius: 0.8rem;
        border: 0;
        cursor: pointer;
        
    }
    p{
        color:white;
        margin:0 0 2.5rem 0;  
        text-align: left;
        padding: 1.5rem 1.563rem 0 1.563rem;
    }
    @media(min-width: 40rem){
        h2,p{
         margin:5rem 0 2.5rem 50px;
        }
        input{
            width: 80%;
        }
        button{
            padding:0.825rem 0.825rem 0.825rem 0.825rem;
        }
     }
     @media(min-width: 60rem){
        h2,p{
            position: relative;
            top: 5.5rem;
            margin:0 0 2.5rem 8rem;
           }
        input{
            width: 40%;
            position: relative;
            left:30rem;
        }
        button{
            padding:0.825rem 0.825rem 0.825rem 0.825rem;
            position: relative;
            left:30rem;
        }
     }
}
.clear{
    clear: both;
}